<div class="container">
    <div class="row" style="margin-top:100px;">
        <div class="col-md-offset-5 col-md-2">
            <div class="btn btn-lg btn-success" style="width:100%" data-logout-button>Logout</div>
            <div class="btn btn-lg btn-success" style="width:100%;margin-top:10px;" data-ng-click="getResource()">Get Resource</div>
            <div class="btn btn-lg btn-success" style="width:100%;margin-top:10px;" data-ng-click="getInvalidResource()">Get Invalid</div>
        </div>
    </div>
    <div class="row" style="margin-top:100px;">
        <div class="col-md-offset-5 col-md-2">
            {{resourceData}}
        </div>
    </div>
</div>
